body {
  background-image: url("./images/element5-digital-uE2T1tCFsn8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

#tripCard {
    border-radius: 1rem;
    padding: 0.5rem;
    width: 70% ;
    height: auto;
    display: flex;
    margin: 1rem 1rem;
    flex-direction: column;
    background-color: whitesmoke;
}

#budgetcard {
  border-radius: 1rem;
  padding: 0.5rem;
  height: 300px;
  width: 75%;
  display: inline-flex;
  margin: 1rem 1rem;
  flex-direction: row;
  background-color: whitesmoke;
  justify-content: center;
}

#piechartcontainer {
 margin-top: 20px;
}

#tripcardcontainer {
  justify-content: center;
  display: flex;
}

#infoButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#eventform {
  display: flex;
  width: auto;
  justify-content: center;
  background-color: blanchedalmond;
  padding: 20px;
  border-radius: 20px;
}

#tripsubmit {
  background-color: blanchedalmond;
  margin-block: 20px;
  padding-block: 20px;
  border-radius: 15px;
}

#tripformbuttons {
  padding: 10px; 
}

#infoandbuttons {
  display: inline-flex;
}

#tripbuttoncontainer {
  margin-left: auto;
}

.button {
margin-inline: 5px;
}

#piechartcontainer {
  margin-left: auto;
}

#totalcost {
  background-color: lightblue;
}

#homepagecontainer {
  display: flex;
  background-color: aliceblue;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  width: auto;
  justify-content: space-around;
  flex-direction: column;
}

.homeimages {
  display: flex;
  max-height: 300px;
}

#imagescontainer {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

#logocontainer {
  display: flex;
  justify-content: center;
}

#homebutton {
  display: flex;
  width: 200px;
  justify-content: center;
}